<div class="container">
    <form class="text-center">
        <div>
            <h1>E-mail :</h1>
            <input type="text" id="email"/>
        </div>
        <div>
            <h1>Objet :</h1>
            <input id="objet" type="text" class="selectmessage"/>
        </div>
        <div>
            <h1>Message :</h1>
            <textarea type="text" class="selectmessage" id="message" rows="10"></textarea>
        </div>
        <div class="confirmation">
            <button onclick="testSurComponent()" class="bouton">Envoyer</button>
            <button TYPE="reset" VALUE="Reset" class="bouton">reset</button>
        </div>
    </form>
</div>
