<div class='margin_footer container'>
    <div class='row'>
        <div id='access_code' class="text-center section_projets col-lg-5 col-12">
            <img src='assets/images/access_code.png' class="img_projets"/>
            <p>Cet exercice est le premier css que je devais faire. Sa consistait à reproduire le logo access code.</p>
            <button><a href="http://192.168.1.67/demo/Nathaniel_PAROT/exos_0507/">Voir le site</a></button>
        </div>
        <div id='blueasy' class="text-center section_projets offset-lg-2 col-lg-5 col-12">
            <img src='assets/images/blueasy.png' class="img_projets"/>
            <p>Cet exercice était une maquette à reproduire</p>
            <button><a href="http://192.168.1.67/exercices/exos_1107/MaquetteBenoîtNathaniel/ressources/">Voir le site</a></button>
        </div>
    </div>
    <div class="row">
        <div id="langerba" class="text-center section_projets col-lg-5 col-12">
            <img src='assets/images/langerba.png' class="img_projets"/>
            <p>Ce site était un exercice pour s'entraîner sur bootstrap. Sa consistait a utilisé bootstrap pour faire le responsive design</p>
            <button><a href="http://192.168.1.67/exercices/exos_1807/bootstrap_chrisNat/">Voir le site</a></button>
        </div>
        <div id="site_promo" class="text-center section_projets offset-lg-2 col-lg-5 col-12">
            <img src='assets/images/site_promo.png' class="img_projets"/>
            <p>Ce site vous montrera un exercice qu'on devait faire sans utiliser de javascript</p>
            <button><a href="http://192.168.1.67/projets_collectifs/siteNA/promo_htmlcss/">Voir le site</a></button>
        </div>
    </div>
    <div class="row">
        <div id="vert_orange" class="text-center section_projets col-lg-5 col-12">
            <img src='assets/images/vert_orange.png' class="img_projets"/>
            <p>Ce site était un exercice pour rassembler toutes connaissance qu'on avait acquis auparavent et les appliquer.</p>
            <button><a href="http://192.168.1.67/Japon/NatsaJapon/public_html/">Voir le site</a></button>
        </div>

    </div>
</div>