<div class='container margin_footer'>
    <div class='row blocAcceuilBienvenue animated bounceIn'><span class='acceuilBienvenue'></span></div>
    <div class='row'>
        <div class='contenu col-12 col-lg-7 animated bounceIn'>
            <div class='centreInteret text-center'>
                <h1 class=''>Centre d'intérêts</h1>
                <p>Jeux vidéos</p>
                <p>Cinéma</p>
            </div>
        </div>
        <div class='offset-lg-1 col-12 col-lg-4 animated bounceIn'>
            <div class='col-4'></div>
            <div class="coordonnees">
                <p class="animated fadeInRightBig text-center titreCoordonnees">COORDONNÉES:</p>
                <div class="info">
                    <p class="animated fadeIn ">Email: nathouparot2a@gmail.com</p>
                    <p class="animated fadeIn un">Téléphone: 06 27 43 78 45</p>
                    <p class="animated fadeIn deux">Adresse: 7 rue Mechin Brive-la-gaillarde</p>
                </div>
            </div>
        </div>
    </div>
    <div class="animated bounceIn">
        
    </div>
</div>